{% extends 'base.html.twig' %}

{% block about_us %}
    <link rel="stylesheet" href="{{ asset('css/about-us.css') }}">

    <section class="section">
        <div class="container">
            <div class="info">
                <h2>Hakkımızda</h2>
                <p>Merhaba! Ben <strong>Mustafa Karakaş</strong>, Memleketim Trabzon.</p>
                <p>Backend Developer alanında çalışıyorum ve Bilgisayar Mühendisliği mezunuyum.</p>
                <p>Üniversitem: Namık Kemal Üniversitesi</p>
                <p>Şu anda <strong>MTM Medya Takip Merkezi'nde AR-GE'de Yazılımcı</strong> olarak görev yapıyorum.</p>
                <p>İletişim için mail adresim: <a href="mailto:mail.m.karakas@gmail.com">mail.m.karakas@gmail.com</a>
                </p>
            </div>
            <div class="image">
                <img src="{{ asset('images/myProfile.jpeg') }}" alt="Mustafa Karakaş">
            </div>
        </div>
    </section>
{% endblock %}
